@import "_colors";

:host {
    
    .fy-c-tooltip {

        position: absolute;
        width: 50%;
        margin: 15% 0 0 7%;
        z-index: 1;
        
        background: white;
        padding: 24px;
        height: fit-content;
        border-radius: 12px;

        font-size: medium;
        font-weight: 400;
        color: $blue-grayish;

        &__amount {
            font-size: xx-large;
            font-weight: 700;
            color: $blue-verydark;
        }
    }

}