:host {

  // width: max-content;
  // height: max-content;

  .fy-c-header {
    grid-area: header;
    // margin: auto;
    // padding: 2% 5%;
  }

  .fy-c-content {
    grid-area: content;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-gap: 10px;
  
  grid-template-areas:
  ".... .... ...."
    ".... header ...."
    ".... content ...."
    ".... .... ....";

  // display: grid;

  // grid-gap: .6px;
  // grid-template-columns: 100%;
  // grid-template-rows: 1fr 1fr;

  // box-shadow: $box-shadow;


  // @media only screen and (min-width: 768px) {
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: auto;

  //   background: pink;

  //   grid-template-areas:
  //     "header header"
  //     "body footer";
  // }
}