@import "_colors";

:host {

  .fy-c-header {
    grid-area: header;
  }

  .fy-c-content {
    grid-area: content;
  }

  .fy-l-footer {
    grid-area: footer;
    
    margin: auto;
    font-size: 11px;
    text-align: center;

    &--link{
      color: $blue-pale;
    }
  }

  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-gap: 15px;
  
  grid-template-areas:
  ".... .... ...."
    ".... header ...."
    ".... content ...."
    ".... footer ....";

  // @media only screen and (min-width: 768px) {
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: auto;

  //   background: pink;

  //   grid-template-areas:
  //     "header header"
  //     "body footer";
  // }
}