@import "_colors";

:host {

  // width: max-content;
  // height: max-content;

  .fy-c-header {
    grid-area: header;
    // margin: auto;
    // padding: 2% 5%;
  }

  .fy-c-content {
    grid-area: content;
  }

  .fy-l-footer {
    grid-area: footer;

    margin: auto;
    font-size: 11px;
    text-align: center;

    &--link {
      color: $blue-pale;
    }
  }

  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-gap: 15px;

  grid-template-areas: ".... .... ...."
  ".... header ...."
  ".... footer ...."
  ".... .... ....";

}