/* Add application styles & imports to this file! */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Raleway, sans-serif;
    background-color: #e6eff6;
    background-image: url("assets/images/bg-mobile.png");
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html,
body {
    min-height: 100%;
}

body, my-app {
    height: 100vh;
}

my-app {
    // margin: 10% 5%;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 375px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1440px) {}

.button {
    width: 90%;
    padding: 5%;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    align-self: center;

    margin: 32px;

    &--primary {
        // background: $brigth_yellow;
        color: white;
    }

    &:hover {
        // box-shadow: $box-shadow;
        border-radius: 4px;
        transition: box-shadow 0.3s ease-in-out;
    }
}