$cc-brand-01: #e00000;
$cc-brand-02: #e60000;
$cc-brand-03: #c00000;
$cc-brand-04: #830000;
$cc-brand-05: #990000;
$cc-text-01: #191919;
$cc-text-02: #444;
$cc-text-03: #727272;
$cc-text-04: #999;
$cc-ui-01: #ddd;
$cc-ui-02: #e6e6e6;
$cc-ui-03: #f3f3f3;
$cc-ui-04: #f9f9f9;
$cc-ui-05: #fafafa;
$cc-ui-06: #ffffff;
$sc-blue-01: #1bb3bc;
$sc-blue-02: rgba(#76d1d7, 0.6);
$sc-blue-03: rgba(#d1fdf2, 0.2);
$sc-blue-04: rgba(#f2fbfb, 0.06);
$sc-green-01: #abc111;
$sc-green-02: rgba(#cdda72, 0.6);
$sc-green-03: rgba(#eef3cf, 0.2);
$sc-green-04: rgba(#fafcf1, 0.06);
$sc-orange-01: #e59d27;
$sc-orange-02: rgba(#f0c57e, 0.6);
$sc-orange-03: rgba(#faebd4, 0.2);
$sc-orange-04: rgba(#fef9f2, 0.06);
$sc-purple-01: #9e3667;
$sc-purple-02: rgba(#c586a4, 0.6);
$sc-purple-03: rgba(#ecd7e1, 0.2);
$sc-purple-04: rgba(#f9f3f6, 0.06);
$bc: #dcdcdc;
$bc-f: #d8d8d8;
//custo colors
$tb-01: #fafafe;
$tb-02: #4a4a4a;

$card-title: #343e55;
$card-amount: #9b9b9b;
$card-tam: #9b9b9b;
$card-tam-bullet-negative: $cc-brand-01;
$card-tam-bullet-positive: #7ed321;
$card-amount_yesterday: #9b9b9b;
$card-highlight: $cc-brand-01;

$titles: #343e55;

$tooltip-spnet: $cc-brand-01;
$tooltip-red: $cc-text-03;
$gradient-color-1 : linear-gradient(180deg, #3967F8 0%, #10B7FF 100%);
$gradient-color-2 : linear-gradient(180deg, #9013FE 0%, #FB94E0 100%);